td, th {font-size: 14px; color: rgb(21,153,87); padding: 0px; text-align: center;}

footer {
  display: none !important;
}

.atv{font-size:16px; color: crimson; font-weight:bold;}

.btn {
  display: none !important;
}

code{
	font-weight: bold;
}

img{image-rendering:high-quality;}

@keyframes open {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

details[open] summary ~ * {
  animation: open .5s ease-in-out;
}

.sub[open] summary ~ * {
  animation: open .5s ease-in-out;
}

pre code{font-weight: normal;}

code a {
  position: relative;
  display: inline-block;
  text-decoration:none;
  font-size:14px;
  color:#00aae4;
}

code a:hover {
  text-decoration:none;
}

a[alt]:hover::after {
  content: attr(alt);
  position: absolute;
  top: 100%;
  left: 0;
  color: #3b444b;
  font-size: 16px;
  background-color:rgba(255,225,195,0.7);
  padding:1px 6px 1px 6px;
  border-radius:4px;
  z-index:2;
  text-shadow:1px 1px 2px silver;
  box-shadow:0 0 1px #ff4500, 0 0 1px #ff4500 inset;
}

.topo::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Crect x='0' y='0' width='200' rx='37' height='200' fill='%236182A6'/%3E%3Cpath d='M30,135 l70,-70 l70,70' fill='none' stroke-width='28' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    width: 18px;
    height: 18px;
	float: right;
    margin: 8px 2px 0 6px;
}

.topop {
	text-align:right;
	line-height: 34px;
}

figcaption {
  top: 0px;
  background: white;
  color: rgb(21,153,87);
  padding: 5px 1px 5px 1px;
  font-size: 14px;
  position: relative;
  height:auto;
  box-shadow: 0px -2px 2px -1px rgba(21,153,87,0.2);
  margin-bottom: 5px;
  display:block;
}
summary {
  font-size: 18px;
  color: #159957;
  font-weight: bold;
  cursor: pointer;
  margin-bottom:8px;
  text-shadow: 1px 1px 1px rgb(227,243,235);
}
details {
  border: 1px solid #a2dec0;
  border-bottom: none;
  padding: 3px;
  border-radius: 4px;
  width:100%;
}

.combo {
	display:block;
	box-shadow: 0px 2px 2px -1px rgba(21,153,87,0.2);
	margin: 0 -3px 30px -3px;
	width:100.7%;
}

details p {color: rgb(21,153,87);}

.sub {
  border: none;
  padding: 3px;
  position:relative;
  width:100%;
}

.sub summary{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left:0px;
  text-shadow: 1px 1px 1px rgb(227,243,235);
}

h4 {
  font-size: 15px;
  text-shadow: 1px 1px 1px rgb(227,243,235);
  margin-top: 0;
}

h3 {
  font-size: 19px;
}

p {
  font-size: 14px;
}

ol li {
  font-size: 15px;
}

a {
  font-size: 15px;
  text-shadow: 1px 1px 2px rgb(227,243,235);
}

h5 {
  top: -20px;
  color: #155997;
  font-size: 15px;
}
hr {
  color: #a2dec0;
  width: 95%;
  margin: 5px;
}
h3::after {
  content: '';
  display: block;
  background: rgb(227,243,235);
  width: 40%;
  height: 1px;
}

* { margin: 0; padding: 0; }

.fundo {
   margin: 35px 0 110px 0;
   z-index: 0;
   visibility: visible;
   width: 100%;
}
.slider {
     display: block;
     height: auto;
     width: 100%;
     top: 25px;
     position: relative;
 }

 .slider li {
     list-style: none;
     position: absolute;
	 width: 100%;
 }
 
.slider input {
	position: fixed;
	opacity: 0;
}

.slider label {
     background-color: #DCDCDC;
     top: -30px;
     cursor: pointer;
     display: block;
     height: 27px;
     position: absolute;
     width: min(45px, calc(100%/var(--mw)));
     z-index: 10;
     border-radius: 5px;
     text-align:center;
     vertical-align: middle;
     font-size: 14px;
	 font-weight: bold;
	 box-shadow: 0 0 3px #848484;
	 padding-top: 2px;
	 transition: .5s;
 }

:root {--m: 14; --mw: 16.7;}

.slider li:nth-child(1) label {left: 0%;}

.slider li:nth-child(2) label {left: calc(100% / var(--m));}
 
.slider li:nth-child(3) label {left: calc(2*100% / var(--m));}
 
.slider li:nth-child(4) label {left: calc(3*100% / var(--m));}
 
.slider li:nth-child(5) label {left: calc(4*100% / var(--m));}

.slider li:nth-child(6) label {left: calc(5*100% / var(--m));}

.slider li:nth-child(7) label {left: calc(6*100% / var(--m));}

.slider li:nth-child(8) label {left: calc(7*100% / var(--m));}

.slider li:nth-child(9) label {left: calc(8*100% / var(--m));}

.slider li:nth-child(10) label {left: calc(9*100% / var(--m));}

.slider li:nth-child(11) label {left: calc(10*100% / var(--m));}

.slider li:nth-child(12) label {left: calc(11*100% / var(--m));}
 
.slider li:nth-child(13) label {left: calc(12*100% / var(--m));}
 
.slider li:nth-child(14) label {left: calc(13*100% / var(--m));}

.slider li:nth-child(15) label {left: calc(14*100% / var(--m));}

.slider li:nth-child(16) label {left: calc(15*100% / var(--m));}

.slider {
	counter-reset: contador;
}

.slider li label::before {
	content: counter(contador);
	counter-increment: contador;
}

 .slider img {
	 margin-top:10px;
     /*visibility: hidden;*/
     transition: opacity .5s;
	 opacity: 0;
	 overflow:hidden;
	 min-width:100%;
 }

 .slider li input:checked ~ img  {
	 opacity:1;
     transition: opacity .5s;
     /*visibility: visible;*/
     z-index: 10;
 }

 .slider figcaption {
     opacity: 0;
     /*visibility: hidden;*/
     transition: all 0.5s;
	 /*transform: translateY(-120px);*/
 }

 .slider li input:checked ~figcaption {
     opacity: 1;
	 /*transform: translateY(0);*/
     transition: all 1s ;
     /*visibility: visible;*/
     z-index: 10;
 }

 .slider li input:checked ~label {
     background-color: #159957;
     color: white;
	 transition: .5s;
 }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom:10px; box-shadow: 0px 5px 5px -6px grey;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 2px rgb(227,243,235);
}
iframe {
  border:none;
  top:7px;
  bottom:7px;
}
